:root {
  --light-background-color: #fdf4dc;
  --dark-background-color: #1a1d23;
  --off-white:    #f8f4e9;
  --near-black:   #0f0f0f;
  --link:         #0099ff;
  --link-visited: #0066ff;
  --link-hover:   #0033ff;
  --link-active:  #0000ff;
}
/*
* {
    COMMENTED OUT TO MAINTAIN PAGE STRUCTURE UNTIL WE REFACTOR

    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
*/
body {
  background-color: var(--light-background-color);
  color: var(--near-black);
  font-family: 'Consolas';
  height: 100vh;
}

main {
  flex: 1;
}

a{
  color: var(--link);
  text-decoration: none;
}

a:visited {
  color: var(--link-visited);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover);
  text-decoration: underline;
  font-weight: bold;
}

a:active {
  color: var(--link-active);
  text-decoration: underline;
  font-weight: bold;
}

img {
  max-width: 80px;
  max-height: 80px;
}


.dark-mode {
  background-color: var(--dark-background-color);
  color: var(--off-white);
}

.update-content {
  display: none;
  margin-top: 0.5em;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background: #414141;
}

.update-content.show {
  display: block;
  max-height: 400px;
  overflow-y: auto;
  padding: 12px;
  border-top: 1px solid #7e7e7e;
}

.update-header {
  font-weight: bold;
  margin-top: 1em;
  cursor: pointer;
  padding: 8px 12px;
  background: #414141;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.update-header:hover{
  background: #7e7e7e;
}

.toggle-icon {
  float: right;
}