:root {
  --light-background-color: #fdf4dc;
  --dark-background-color: #1a1d23;
  --off-white:    #f8f4e9;
  --near-black:   #0f0f0f;
  --link:         #0099ff;
  --link-visited: #0066ff;
  --link-hover:   #0033ff;
  --link-active:  #0000ff;
}
/*
* {
    COMMENTED OUT TO MAINTAIN PAGE STRUCTURE UNTIL WE REFACTOR

    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
*/
body {
  background-color: var(--light-background-color);
  color: var(--near-black);
  font-family: 'Consolas';
  height: 100vh;
}

main {
  flex: 1;
}

a{
  color: var(--link);
  text-decoration: none;
}

a:visited {
  color: var(--link-visited);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover);
  text-decoration: underline;
  font-weight: bold;
}

a:active {
  color: var(--link-active);
  text-decoration: underline;
  font-weight: bold;
}

img {
  max-width: 80px;
  max-height: 80px;
}


.dark-mode {
  background-color: var(--dark-background-color);
  color: var(--off-white);
}

.update-content {
  display: none;
  margin-top: 0.5em;
}

.update-content.show {
  display: block;
}

.update-header {
  cursor: pointer;
  font-weight: bold;
  margin-top: 1em;
}

.toggle-icon {
  float: right;
}